.App {
  text-align: center;
}
.navbar {
  list-style-type: none;
  margin: 20;
  padding: 20;
}

.navlist {
  display:inline;
  list-style-type: none;

} 
 .body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer{
 position: absolute;
 bottom: 100px;

}